.card {
    @apply bg-white border border-gray-300 flex h-full px-6 py-5 relative rounded-lg shadow-sm space-x-3 !no-underline hover:border-gray-400 motion-safe:transition-colors;

    &-story {
        p {
            @apply mb-0;
        }
    }
    &-user {
        h2 {
            @apply mb-0;
        }
    }
}
