@layer components {
    .container {
        @apply max-w-[1280px] mx-auto px-4;

        &-narrow {
            @apply max-w-[800px];
        }
        &-lg {
            @apply max-w-[1600px];
        }
    }
}
