.mn-ftr {
    @apply theme-dark bg-blue-1000 text-theme relative pb-10;

    &-wave {
        @apply h-4 mb-14 pt-16 relative md:mb-20 md:pt-20;

        &::after {
            @apply absolute bottom-0 left-0 bg-wavy-footer bg-repeat-x block content-[''] h-4 w-full;
            background-size: 199px 19px;
        }
    }
}
