/* Nav open */
._nav-open {
    .mn-hdr {
        @apply bg-green-500 text-white;

        &-logo {
            @apply text-white;

            &._hide-logo {
                @apply opacity-100 pointer-events-auto select-all;
            }
        }
    }
}
