.masthead {
    @apply mb-12 relative md:mb-20;

    &::after {
        @apply bg-wavy-pink-inverted bg-repeat-x absolute bottom-[calc(-3rem+1px)] left-0 block content-[''] h-12 w-full z-3;
        background-size: 199px 19px;
    }
}
