.newsletter {
    &-bar {
        @apply mb-14 mt-10 overflow-hidden relative text-gray-600 md:mb-20 md:mt-16;
    }
}

.newsletter-form {
    .fui-page {
        &:first-child {
            > div {
                @apply flex-grow;
            }
        }
    }
}
