.topic {
    &-pill {
        @apply bg-gray-100 rounded-full px-3.5 py-1.5 text-sm hover:bg-gray-200 md:text-slight motion-safe:transition;
    }

    &s {
        &-wrapper {
            @apply flex flex-wrap gap-2;
        }
    }
}
